.d-flex {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.footer {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 135px;
  background-color: $main-blue;
  padding: 47px 86px;

  .navs, .social {
    display: flex;
    list-style-type: none;
  }

  .social {
    align-self: flex-end;
  }

  a {
    color: #83888F;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
  }

  .navs li:not(:last-child) {
    margin-right: 32px;
  }

  .navs li:not(:last-child) {
    margin-right: 32px;
  }
}
